---
export const prerender = true;
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Política de Privacidad | VIGI">
  <section class="p-4 sm:p-8 max-w-[1180px] m-auto">
    <article class="m-auto max-w-[700px]">
      <div class="my-3 py-2">
        <h5 class="font-bold my-2 text-2xl">Política de Privacidad</h5>
        <span class="block text-sm my-4"
          >Fecha de entrada en vigor: <strong>15/02/2024</strong></span
        >
        <p>
          Vigi ("nosotros", "nuestro" o "nos") opera el sitio web <strong
            >vigi.cam</strong
          > (el "Servicio").
        </p>
        <p>
          Esta página informa sobre nuestras políticas con respecto a la
          recopilación, uso y divulgación de datos personales cuando utilizas
          nuestro Servicio y los derechos que tienes asociados a esos datos.
        </p>
        <p>
          Usamos tus datos para proporcionar y mejorar el Servicio. Al utilizar
          el Servicio, aceptas la recopilación y el uso de información de
          acuerdo con esta política. A menos que se defina lo contrario en esta
          Política de Privacidad, los términos utilizados en esta Política de
          Privacidad tienen los mismos significados que en nuestros Términos y
          Condiciones, haciendo click <a
            class="underline"
            href="/legales/terminos">aquí</a
          >.
        </p>
      </div>
      <div class="my-3 py-2">
        <h5 class="font-bold my-2">Recopilación y Uso de Información</h5>
        <p>
          Recopilamos varios tipos diferentes de información con diferentes
          fines para proporcionar y mejorar nuestro Servicio.
        </p>
      </div>
      <h5 class="font-bold my-2">Tipos de Datos Recopilados</h5>
      <div class="my-3 py-2">
        <h5 class="font-bold my-2">Datos Personales</h5>
        <p>
          Al utilizar nuestro Servicio, es posible que te solicitemos que nos
          proporciones cierta información de identificación personal que pueda
          incluir, entre otros, tu nombre, dirección de correo electrónico,
          dirección postal y número de teléfono ("Datos Personales").
        </p>
      </div>
      <div class="my-3 py-2">
        <h5 class="font-bold my-2">Uso de Datos</h5>
        <p>Utilizamos los datos recopilados para diversos fines, incluyendo:</p>
        <ul class="list-decimal">
          <li>Para proporcionar y mantener nuestro Servicio</li>
          <li>Para notificarte sobre cambios en nuestro Servicio</li>
          <li>
            Para permitirte participar en funciones interactivas de nuestro
            Servicio cuando decidas hacerlo
          </li>
          <li>Para brindar atención al cliente y soporte</li>
          <li>
            Para proporcionar análisis o información valiosa para mejorar
            nuestro Servicio
          </li>
          <li>Para monitorear el uso de nuestro Servicio</li>
          <li>Para detectar, prevenir y abordar problemas técnicos</li>
        </ul>
      </div>
      <div class="my-3 py-2">
        <h5 class="font-bold my-2">Transferencia de Datos</h5>
        <p>
            Tu información, incluidos los Datos Personales, puede ser transferida a —y mantenida en— computadoras ubicadas fuera de tu estado, provincia, país u otra jurisdicción gubernamental donde las leyes de protección de datos pueden diferir de las de tu jurisdicción.
        </p>
        <p>
            Si te encuentras fuera de Argentina y decides proporcionarnos información, ten en cuenta que transferimos los datos, incluidos los Datos Personales, a Argentina y que los procesamos allí.  
        </p>
        <p>
            Tu consentimiento a esta Política de Privacidad seguido de tu envío de dicha información representa tu aceptación de esa transferencia.
        </p>
      </div>
      <div class="my-3 py-2">
        <h5 class="font-bold my-2">Requisitos Legales</h5>
        <p>Podemos divulgar tus Datos Personales en la creencia de buena fe de que dicha acción es necesaria para:</p>
        <ul class="list-decimal">
          <li>Cumplir con una obligación legal</li>
          <li>Proteger y defender los derechos o la propiedad de [nombre de la empresa]</li>
          <li>Prevenir o investigar posibles infracciones en relación con el Servicio</li>
          <li>Proteger la seguridad personal de los usuarios del Servicio o del público</li>
          <li>Protegernos contra responsabilidades legales</li>
        </ul>
      </div>
      <div class="my-3 py-2">
        <h5 class="font-bold my-2">Seguridad de los Datos</h5>
        <p>
            La seguridad de tus datos es importante para nosotros, pero recuerda que ningún método de transmisión a través de Internet o método de almacenamiento electrónico es 100% seguro. Si bien nos esforzamos por utilizar medios comercialmente aceptables para proteger tus Datos Personales, no podemos garantizar su absoluta seguridad. 
        </p>
      </div>
      <div class="my-3 py-2">
        <h5 class="font-bold my-2">Enlaces a Otros Sitios</h5>
        <p>
            Nuestro Servicio puede contener enlaces a otros sitios que no son operados por nosotros. Si haces clic en un enlace de un tercero, serás dirigido al sitio de ese tercero. Te recomendamos encarecidamente que revises la Política de Privacidad de cada sitio que visitas.
        </p>
      </div>
      <div class="my-3 py-2">
        <h5 class="font-bold my-2">Cambios en esta Política de Privacidad</h5>
        <p>
            Podemos actualizar nuestra Política de Privacidad de vez en cuando. Te notificaremos cualquier cambio publicando la nueva Política de Privacidad en esta página.
        </p>
        <p>
            Se te notificará por correo electrónico y/o un aviso destacado en nuestro Servicio antes de que el cambio entre en vigor y se actualizará la "fecha de entrada en vigor" en la parte superior de esta Política de Privacidad. 
        </p>
        <p>
            Se te recomienda que revises esta Política de Privacidad periódicamente para cualquier cambio. Los cambios a esta Política de Privacidad son efectivos cuando se publican en esta página.
        </p>
      </div>
      <div class="my-3 py-2">
        <h5 class="font-bold my-2">Contáctanos</h5>
        <p>Si tienes alguna pregunta sobre esta Política de Privacidad, puedes contactarnos:</p>
        <ul>
            <li>
                Por correo electrónico: <strong>contacto@vigi.cam</strong>
            </li>
            <li>
                Visitando esta página en nuestro sitio web: haciendo click <a class="underline" href="/contacto">aquí</a>
            </li>
        </ul>
      </div>
    </article>
  </section>
</Layout>

<style>
  p,
  li {
    font-size: small;
    color: gray;
    /* text-wrap: balance; */
    padding: 5px 0;
  }
</style>
