---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Términos y Condiciones de Uso | VIGI">
  <section class="p-4 sm:p-8 max-w-[1180px] m-auto">
    <article class="m-auto max-w-[700px]">
      <div class="my-3 py-2">
        <h5 class="font-bold my-2 text-2xl">Términos y Condiciones de Uso</h5>
        <span class="block text-sm my-4">Fecha de entrada en vigor: <strong>15/02/2024</strong></span>
        <p>
          Por favor, lee detenidamente estos términos y condiciones de uso antes de utilizar nuestro sitio web <strong>vigi.cam</strong> operado por Vigi.
        </p>
        <p >
          Al acceder a este sitio web y/o realizar una compra en él, aceptas estos términos y condiciones en su totalidad. Si no estás de acuerdo con estos términos y condiciones, no debes usar este sitio web.
        </p>
      </div>
      <div class="my-3 py-2">
        <h5 class="font-bold my-2">Uso del Sitio Web</h5>
        <ol class="list-decimal">
          <li>
            <p>
              El acceso a nuestro sitio web se proporciona de forma gratuita y temporal. Nos reservamos el derecho de modificar o retirar (temporal o permanentemente) este sitio web y cualquier servicio o material que proporcionemos en el mismo sin previo aviso y sin ninguna responsabilidad hacia ti.
            </p>
          </li>
          <li>
            <p> 
              No garantizamos que nuestro sitio web, o cualquier contenido del mismo, esté siempre disponible o sea ininterrumpido. Podemos suspender, retirar o restringir la disponibilidad de todo o parte de nuestro sitio web por razones comerciales y operativas.
            </p>
          </li>
        </ol>
      </div>
      <div class="my-3 py-2">
        <h5 class="font-bold my-2">Privacidad y Protección de Datos</h5>
        <ol class="list-decimal">
          <li>
            <p>
              Cualquier información personal que proporciones en este sitio web se tratará de acuerdo con nuestra política de privacidad. Al utilizar nuestro sitio web, aceptas dicho tratamiento y garantizas que todos los datos proporcionados son precisos.
            </p>
          </li>
        </ol>
      </div>
      <div class="my-3 py-2">
        <h5 class="font-bold my-2">Propiedad Intelectual</h5>
        <ol class="list-decimal">
          <li>
            <p>
              Todos los derechos de propiedad intelectual sobre el contenido de este sitio web son propiedad de [nombre de la empresa] o de sus licenciantes, y están protegidos por las leyes de derechos de autor y otras leyes de propiedad intelectual.
            </p>
          </li>
        </ol>
      </div>
      <div class="my-3 py-2">
        <h5 class="font-bold my-2">Ley Aplicable</h5>
        <ol class="list-decimal">
          <li>
            <p>
              Estos términos y condiciones se rigen por las leyes de la Ciudad Autónoma de Buenos Aires y estás de acuerdo en someterte a la jurisdicción exclusiva de los tribunales de la Ciudad Autónoma de Buenos Aires para resolver cualquier disputa que surja en relación con ellos.
            </p>
          </li>
        </ol>
      </div>
      <div class="my-3 py-2">
        <h5 class="font-bold my-2">Modificaciones</h5>
        <ol class="list-decimal">
          <li>
            <p>
              Nos reservamos el derecho, a nuestra entera discreción, de modificar o reemplazar estos términos y condiciones en cualquier momento. Es tu responsabilidad revisar periódicamente los términos y condiciones para estar al tanto de las modificaciones. El uso continuado de este sitio web después de la publicación de cualquier modificación constituye la aceptación de dichas modificaciones.
            </p>
          </li>
        </ol>
      </div>
      <p>Si tienes alguna pregunta sobre estos términos y condiciones, contáctanos en <strong>contacto@vigi.cam</strong>.</p>
    </article>
  </section>
</Layout>

<style>
  p {
    font-size: small;
    color: gray;
    /* text-wrap: balance; */
    padding: 5px 0;
  }
</style>
