---
import Layout from "../../layouts/Layout.astro";
import {fetchData} from "../../services/fetchData";
import ProductsList from "../../components/ProductsList.astro";
import type { Product } from "src/services/types";

export function getStaticPaths() {
  return [
    { params: { category: "interior" } },
    { params: { category: "exterior" } },
    { params: { category: "batería" } },
    { params: { category: "dvr" } },
    { params: { category: "análogas" } },
    { params: { category: "porteros" } },
    { params: { category: "alarmas" } },
    { params: { category: "almacenamiento" } },
  ];
}

let { category } = Astro.params;
const allProducts: Product[] = await fetchData("getAllProducts");
let productsList: Product[] = [];

switch(category) {
  case "interior":
    productsList = allProducts.filter((product: Product) => product.details.location == "Interior");
    break
  case "exterior":
      productsList = allProducts.filter((product: Product) => product.details.location == "Exterior");
    break;
  case "batería":
    productsList = allProducts.filter((product: Product) => product.details.power_type == "Bateria");
    break;
  case "análogas":
    productsList = allProducts.filter((product: Product) => product.details.anlogue == true);
    break;
  case "dvr":
    productsList = allProducts.filter((product: Product) => product.category == "DVR");
    break;
  case "porteros":
    productsList = allProducts.filter((product: Product) => product.category == "Porteros");
    break;
  case "alarmas":
    productsList = allProducts.filter((product: Product) => product.category == "Alarmas");
    break;        
  default:
    productsList = []
    break;
}
---

<Layout title=`${category.toLocaleUpperCase()} | VIGI`>
  <h3 class=" font-bold text-center text-primary my-3">{category.toLocaleUpperCase()}</h3>
  {
    productsList.length === 0 ? (
      <div class="flex justify-center items-center h-96">
        <h3 class="text-cente">No hay productos en esta categoría</h3>
      </div>
    ) : (
      <ProductsList productsList={productsList}/>
    )
  }
</Layout>
