---
import Layout from "@layouts/Layout.astro";
import fetchData from "../../services/fetchData";
import ProductsList from "@components/ProductsList.astro";
import type { Product } from "src/services/types";

export function getStaticPaths() {
  return [
    { params: { category: "interior" } },
    { params: { category: "exterior" } },
    { params: { category: "bateria" } },
    { params: { category: "dvr" } },
    { params: { category: "analogas" } },
    { params: { category: "porteros" } },
    { params: { category: "alarmas" } },
    { params: { category: "memorias" } },
  ];
}

let { category } = Astro.params;
let productsList: Product[] = [];

if(category === "interior" || category === "exterior" || category === "bateria" || category === "analogas") {
  const response = await fetchData(`getProducts?category=camaras`);
  productsList = response?.filter((product: Product) => product.tags.includes(category));
} else productsList = await fetchData(`getProducts?category=${category}`);

---

<Layout title=`${category.toLocaleUpperCase()} | VIGI`>
  <h3 class=" font-bold text-center text-primary my-3">{category.toLocaleUpperCase()}</h3>
  {
    productsList.length === 0 ? (
      <div class="flex justify-center items-center h-96">
        <h3 class="text-cente">No hay productos en esta categoría</h3>
      </div>
    ) : (
      <ProductsList productsList={productsList}/>
    )
  }
</Layout>
