---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Ups!">
  <section>
    <h3 class="text-4xl font-bold">404</h3>
    <p>La pagina que buscas no existe o ya no esta diponible.</p>
    <a href="/" class="bg-primary p-3 my-3 rounded-md text-white text-sm">Ir al inicio</a>
  </section>
</Layout>

<style>
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: calc(100vh - 300px);
    }
</style>
