---
import Layout from "@/layouts/Layout.astro";
import ForgotPasswordForm from "@/components/Forms/ForgotPasswordForm";
---

<Layout title="Olvidé  mi contraseña | VIGI">
  <main
    class="px-4 sm:px-8 max-w-[1180px] m-auto flex flex-col gap-4 justify-center items-center">
    <div
      class="sm:py-2 sm:w-[550px] lg:w-[600px] 2xl:w-[750px] flex flex-col justify-center items-center">
      <h3 class="text-primary font-bold my-1 text-xl">Olvidé mi contraseña.</h3>
      <span class="text-black font-normal text-xs text-center"
        >Por favor, introduce tu dirección de correo electrónico a continuación
        y te enviaremos un correo electrónico con los pasos a seguir para
        restablecer tu contraseña.</span
      >
    </div>
    <section class="w-full flex flex-col items-center">
        <ForgotPasswordForm client:visible/>
    </section>
  </main>
</Layout>

<script>

</script>
