---
import Layout from "../layouts/Layout.astro";
import CategoryCard from "../components/CategoryCard.astro";
---

<Layout title="Bienvenido a VIGI">
  <main class="p-4 sm:p-8">
    <div class="my-5 sm:py-5 sm:w-[550px] lg:w-[600px] 2xl:w-[750px]">
      <h1 class="text-primary font-bold my-10 text-xl sm:text-4xl 2xl:text-5xl">
        Tienda online. <span class="text-black font-normal">Compra seguro tus articulos de seguridad.</span>
      </h1>
    </div>

    <section class="grid grid-cols-2 place-items-center gap-5 sm:grid-cols-4 xl:grid-cols-8 sm:my-16">
      <CategoryCard image_path="/public/categories/interior.png" title="Interior"/>
      <CategoryCard image_path="/public/categories/exterior.png" title="Exterior"/>
      <CategoryCard image_path="/public/categories/bateria.png" title="Bateria"/>
      <CategoryCard image_path="/public/categories/DVR.png" title="DVR"/>
      <CategoryCard image_path="/public/categories/analogas.png" title="Analogas"/>
      <CategoryCard image_path="/public/categories/porteros.png" title="Porteros"/>
      <CategoryCard image_path="/public/categories/alarmas.png" title="Alarmas"/>
      <CategoryCard image_path="/public/categories/almacenamiento.png" title="Memorias"/>
    </section>
  </main>
</Layout>
