---
import Layout from "@/layouts/Layout.astro";
import LoginForm from "@/components/Forms/LoginForm";
import ContinueAsGuestButton from "@/components/Buttons/ContinueAsGuestButton";
---

<Layout title="Iniciar sesión | VIGI">
  <section class="p-4 sm:px-8 max-w-[1180px] m-auto">
    <div class="my-2 sm:w-[550px] lg:w-[600px] 2xl:w-[750px]">
      <h2
        class="text-primary font-bold my-2 text-base sm:text-2xl 2xl:text-3xl"
      >
        Iniciar sesión. <span class="text-black font-normal">
          Con una sesión iniciada, todo es más rápido.</span
        >
      </h2>
    </div>
  </section>
  <section
    class="p-4 sm:p-8 max-w-[1180px] m-auto grid grid-cols-1 sm:grid-cols-2 gap-32 sm:gap-0"
  >
    <article class="sm:border-r-[2px]">
      <LoginForm client:visible/>
    </article>
    <article class="shadow-lg p-5 rounded-lg sm:shadow-none">
      <div class="flex flex-col justify-center items-center gap-2">
        <h6 class="text-xl font-semibold">Invitado</h6>
        <span>Proceder y crear usuario luego.</span>
        <ContinueAsGuestButton client:visible/>
      </div>
    </article>
  </section>
</Layout>
