---
export const prerender = true;
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Sobre nosotros | VIGI">
  <section class="p-4 sm:p-8 max-w-[1180px] m-auto grid gap-10">
    <article class="m-auto max-w-[700px]">
      <div class="banner bg-primary">
        <img src="" alt="" />
      </div>
      <div class="mt-10 py-2">
        <h5 class="font-bold my-2 text-2xl">Visión</h5>
        <p>
          Nuestra visión en VIGI es convertirnos en el referente líder en seguridad para el hogar y la empresa, ofreciendo productos de última generación a precios accesibles.
        </p>
        <p>
          Nos esforzamos por proporcionar a nuestros clientes la tranquilidad y la protección que necesitan, mediante una amplia gama de soluciones de seguridad, desde cámaras de vigilancia hasta sistemas de alarmas inteligentes. Nuestro objetivo es ser reconocidos como una marca de confianza, donde la calidad, la accesibilidad y la facilidad de adquisición de nuestros productos y servicios, tanto a través de nuestro e-commerce como en nuestras futuras sucursales, sean los pilares de nuestra propuesta de valor.
        </p>
        <p>
          Estamos comprometidos en brindar seguridad y tranquilidad a nuestros clientes, convirtiendo sus hogares y negocios en entornos más seguros y protegidos.
        </p>
      </div>
    </article>
    <article class="m-auto max-w-[700px]">
      <div class="py-2">
        <h5 class="font-bold my-2 text-2xl">Misión</h5>
        <p>
          En VIGI, nuestra misión es proporcionar soluciones de seguridad innovadoras y asequibles que protejan y tranquilicen a nuestros clientes en sus hogares y negocios.
        </p>
        <p>
          Nos comprometemos a ofrecer una amplia gama de productos de alta calidad, incluyendo cámaras de vigilancia, alarmas y tecnología para el hogar, así como sistemas de CCTV, con el fin de garantizar la seguridad y la paz mental de nuestros clientes.
        </p>
        <p>
          Nos esforzamos por mantenernos a la vanguardia de la tecnología de seguridad, brindando un servicio excepcional y una experiencia de compra sin complicaciones a través de nuestro e-commerce y nuestras futuras sucursales. Además, nos dedicamos a educar y empoderar a nuestros clientes para que tomen decisiones informadas sobre su seguridad.
        </p>
        <p>
          Nuestra misión es hacer que la seguridad sea accesible y confiable para todos, proporcionando productos y servicios que protejan lo que más valoran: su tranquilidad y bienestar.
        </p>
      </div>
    </article>
    <article class="m-auto max-w-[700px]">
      <h5 class="font-bold my-2 text-2xl">Nuestros valores</h5>
      <ol class="list-decimal">
        <li>
          <strong class="underline">COMPROMISO CON LA SEGURIDAD:</strong>
          <p>
            Nos comprometemos a priorizar la seguridad en todo lo que hacemos, desde la selección de productos hasta la atención al cliente, para garantizar la protección y tranquilidad de nuestros clientes.
          </p>
        </li>
        <li>
          <strong class="underline">ACCESIBILIDAD:</strong>
          <p>
            Creemos en hacer que la seguridad sea accesible para todos, ofreciendo productos y servicios de alta calidad a precios asequibles y con opciones de compra convenientes.
          </p>
        </li>
        <li>
          <strong class="underline">INNOVACIÓN TECNOLÓGICA:</strong>
          <p>
            Nos esforzamos por estar a la vanguardia de la tecnología de seguridad, ofreciendo soluciones innovadoras que cumplan con las necesidades y expectativas cambiantes de nuestros clientes.
          </p>
        </li>
        <li>
          <strong class="underline">CONFIANZA Y TRANSPARENCIA:</strong>
          <p>
            Construimos relaciones sólidas basadas en la confianza y la transparencia, brindando información clara y honesta sobre nuestros productos y servicios, así como un servicio al cliente excepcional.
          </p>
        </li>
        <li>
          <strong class="underline">EMPODERAMIENTO DEL CLIENTE:</strong>
          <p>
            Nos comprometemos a educar y empoderar a nuestros clientes, proporcionándoles el conocimiento y las herramientas necesarias para tomar decisiones informadas sobre su seguridad.
          </p>
        </li>
        <li>
          <strong class="underline">EXCELENCIA OPERATIVA:</strong>
          <p>
            Buscamos la excelencia en todas nuestras operaciones, desde la calidad de nuestros productos hasta la eficiencia de nuestro servicio al cliente, para garantizar la satisfacción y fidelidad de nuestros clientes.
          </p>
        </li>
      </ol>
    </article>
  </section>
</Layout>

<style>
  p,
  li {
    font-size: small;
    color: gray;
    /* text-wrap: balance; */
    padding: 5px 0;
  }

  .banner {
    background-image: url("/2.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: 150px;
    width: 100%;
  }
</style>
