---
export const prerender = false;
import ProductsList from "@/components/ProductsList.astro";
import Layout from "@/layouts/Layout.astro";
import { fetchData } from "@/services/fetchData";

const productsList = await fetchData("getProducts?promotion=true");

---

<Layout title="Promociones">
    <main class="px-4 pb-4 sm:px-8 sm:pb-8 max-w-[1180px] m-auto">
        {
            productsList.length == 0 ? (
              <div class="flex justify-center items-center h-96">
                <h3 class="text-cente">No hay productos en esta categoría</h3>
              </div>
            ) : (
              <ProductsList productsList={productsList} />
            )
          }
    </main>
</Layout>

