---
import Layout from "../layouts/Layout.astro";
import RegisterForm from "@/components/Forms/RegisterForm";
---

<Layout title="Crea una cuenta | VIGI">
  <section class="p-4 sm:px-8 max-w-[1180px] m-auto">
    <div class="my-2 sm:w-[550px] lg:w-[600px] 2xl:w-[750px]">
      <h2
        class="text-primary font-bold my-2 text-base sm:text-2xl 2xl:text-3xl"
      >
        Únete. <span class="text-black font-normal">
          Crea tu cuenta y disfruta todo lo que tenemos para ti.</span
        >
      </h2>
    </div>
  </section>
  <section>
    <RegisterForm client:visible/>    
  </section>
</Layout>
