---
import type { Product } from '@/services/types';

interface Props {
  product: Product;
}

const { product } = Astro.props;
---

{
  product.category == "camaras" && (<span class="text-[12px] text-blue-200 bg-blue-600 px-2 py-[1px] rounded">{product.details.wifi ? "Wifi" : "Analoga"}</span>
  <span class="text-[12px] text-green-200 bg-green-600 px-2 py-[1px] rounded">{product.details.resolution_type}</span>
  <span class="text-[12px] text-orange-200 bg-orange-600 px-2 py-[1px] rounded">{product.details.location}</span>)
}
{
  product.category == "DVR" && (<span class="text-[12px] text-blue-200 bg-blue-600 px-2 py-[1px] rounded">DVR</span>
  <span class="text-[12px] text-green-200 bg-green-600 px-2 py-[1px] rounded">{product.dvr_details.resolution_type}</span>
  <span class="text-[12px] text-orange-200 bg-orange-600 px-2 py-[1px] rounded">{`${product.dvr_details.channels} Canales`}</span>)
}