---
interface Props {
  image_path: string;
  title: string;
}

const { image_path, title } = Astro.props;
---

<a class="w-full p-2 rounded flex flex-col justify-center items-center" href=`/category/${title.toLocaleLowerCase()}`>
    <img class="max-w-28 rounded" src={image_path} alt={title} />
    <h6 class="my-3">{title}</h6>
</a>

<style>
  a:hover > h6 {
    text-decoration: underline;
    color: rgb(var(--accent));
  }
</style>