---
import Logo from "./Logo.astro";
import Cart from "../components/Icons/Cart.astro";
import Profile from "../components/Icons/Profile.astro";
---

<header>
  <Logo />

  <nav>
    <!-- <a href="#"> -->
      <Cart />
    <!-- </a> -->
    <!-- <a href="#"> -->
      <Profile />
    <!-- </a> -->
  </nav>
</header>

<style>
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        background-color: #F5F5F7;
        border-bottom: #1E053F 2px solid;
    }
    nav {
        display: flex;
        gap: 1.5rem;
    }
    a {
        color: #1E053F;
        text-decoration: none;
    }
</style>
