---
import Logo from "./Logo.astro";
import Cart from "../components/Icons/Cart.astro";
import Profile from "../components/Icons/Profile.astro";
---

<header class="flex justify-center border-b-primary border-b-[1px]">
  <div class="bg-back w-full flex justify-between items-center max-w-[1180px] py-3 px-4 sm:px-8">
    <a href="/">
      <Logo />
    </a>

    <nav class="flex gap-5">
      <a class="text-primary " href="/cart">
        <Cart />
      </a>
      <a class="text-primary " href="/profile">
        <Profile />
      </a>
    </nav>
  </div>
</header>
