---
import Mail from "./Icons/Mail.astro";
import Truck from "./Icons/Truck.astro";
import CreditCard from "./Icons/CreditCard.astro";
import ShieldCheck from "./Icons/ShieldCheck.astro";
import PaymentWays from "./Modals/PaymentWays.astro";
import ShippingWays from "./Modals/ShippingWays.astro";
import WhyVigi from "./Modals/WhyVigi.astro";

interface Props {
  icon: string;
  title: string;
  description: string;
}

const { icon, title, description } = Astro.props;
---

<article
  class="w-full flex flex-col sm:flex-row justify-center items-center gap-3 sm:gap-5 rounded px-3 py-5 cursor-pointer"
>
  {
    icon == "truck" && (
      <div class="relative">
        <span class="absolute -left-1 w-4 h-4 rounded-full gradient animate-ping" />
        <span class="absolute -left-1 w-4 h-4 rounded-full gradient" />
        <Truck height="48" width="48" color="#3A3545" />
      </div>
    )
  }
  {icon == "mail" && <Mail />}
  {icon == "card" && <CreditCard />}
  {icon == "shield" && <ShieldCheck />}
  <div class="flex flex-col justify-start">
    <h3
      id={icon == "card" ? "pagos_modal_btn" : icon == "truck" ? "entregas_modal_btn" : icon == "shield" ? "why_vigi_btn" : ""}
      class="hover:text-primary font-bold text-center sm:text-start text-sm sm:text-base text-balance"
    >
      {title}
    </h3>
    <p class="text-xs text-center sm:text-start">{description}</p>
  </div>
</article>
<!-- MODALES -->
<PaymentWays />
<ShippingWays />
<WhyVigi />

<script is:inline>
  document.addEventListener("astro:page-load", () => {
    const entregas_btn = document.getElementById("entregas_modal_btn");
    const entregas_modal = document.getElementById("entregas_modal");
    const pagos_btn = document.getElementById("pagos_modal_btn");
    const pagos_modal = document.getElementById("pagos_modal");
    const why_vigi_btn = document.getElementById("why_vigi_btn");
    const why_vigi_modal = document.getElementById("why_vigi_modal");

    entregas_btn?.addEventListener("click", () => {
      entregas_modal.showModal();
    });

    pagos_btn?.addEventListener("click", () => {
      pagos_modal.showModal();
    });

    why_vigi_btn?.addEventListener("click", () => {
      why_vigi_modal.showModal();
    });
  });
</script>

<style>
  .gradient {
    background: linear-gradient(
      120deg,
      rgb(165, 233, 31) 0%,
      rgb(83, 240, 16) 100%
    );
  }
</style>
