---
import Mail from "./Icons/Mail.astro";
import Truck from "./Icons/Truck.astro";
import CreditCard from "./Icons/CreditCard.astro";

interface Props {
  icon: string;
  title: string;
  description: string;
}

const { icon, title, description } = Astro.props;
---

<article class="w-full flex flex-col justify-center items-center gap-3 border-2 rounded px-3 py-10 hover:opacity-70 transition-opacity cursor-pointer">
    {icon == "truck" && <Truck />}
    {icon == "mail" && <Mail />}
    {icon == "card" && <CreditCard />}
  <h3 class="text-primary font-bold text-center">{title}</h3>
  <p class=" text-sm text-center">{description}</p>
</article>
