---
import { ViewTransitions } from "astro:transitions";
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import '@fontsource/poppins';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="e-commerce​​ para ventas de productos de seguridad (camaras, alarmas) en Argentina" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg" href="/vigi_white.svg" />
		<meta name="keywords" content="seguridad, camaras, alarmas, vigilancia, argentina, vision"/>
		<meta name="author" content="Jose Jaramillo" />
		<meta name="robots" content="index"/>
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<body>
		<Header />
		<slot />
		<Footer />
	</body>
</html>
<style is:global>
	:root {
		--accent: 30, 5, 63;
		--mid: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--mid)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family:  'Poppins',system-ui, sans-serif;
		background: #f5f5f7;
		background-size: 224px;
	}
	body {
		height: 100vh;
		width: 100vw;
		margin: 0;
		overflow-x: hidden;
	}
</style>
